@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

/*
     Em HTML id = em CSS é #
     Em HTML é class = em CSS é .
     Minha ideia para essa página é usar cores mais quentes de acordo com o nível do curso representado pelos títulos de nível.
*/

body {
background-color: rgb(211, 193, 158);
color: black;

}

h1 {
    font-family: 'Poppins' ;
    background-image: linear-gradient(to right, #e9e933 , #faab18, #ff2020);
    padding: 7px;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 10px 10px 10px rgba(115, 115, 115, 0.918);
}

h2 {
    font-family: 'Poppins' ;
}

.basico {
    background-color: #e9e933;
    padding: 7px;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 10px 10px 10px rgba(115, 115, 115, 0.918);
    width: 400px;
    text-align: center;

}

.intermediario {
    background-color: #faab18;
    padding: 7px;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 10px 10px 10px rgba(115, 115, 115, 0.918);
    width: 400px;
    text-align: center;
}

.avançado {
    background-color: #ff2020;
    padding: 7px;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 10px 10px 10px rgba(115, 115, 115, 0.918);
    width: 400px;
    text-align: center;
}

